@using WebSelling.Models
@model List<Category>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Category cate = (Category)Session["category"];
}
<style>
    .wavecard {
        width: 200px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    }

    .clipcard-body, .wavecard-body {
        padding: 15px;
        color: #4da056;
        font-weight: 400 !important;
    }

    .wavecard-image {
        height: 130px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 70% 84%, 34% 64%, 0 78%, 0% 43%, 0 0);
        clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 70% 84%, 34% 64%, 0 78%, 0% 43%, 0 0);
        transition: all 0.5s ease-in-out;
    }

        .wavecard-image:hover {
            -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
        }
</style>
<br />
<div class="container-fluid py-xl-2 py-lg-3" style="margin-top: -7%; margin-left: 11%">
    <div class="row about-bottom-w3l mt-6">
        <div class="grid">
            <div class="row">
                @foreach(var item in Model)
                {
                    <div class="col-md-3" style="margin-left: -9%">
                        <div class="wavecard" style="margin-top: 5%">
                                <a href="@Url.Action("DetailsCategory", "Home", new { categoryid = item.Category_ID})"><img class="wavecard-image" src="~/Content/Image/@item.Category_Img" alt="@item.Category_Name" /></a>
                                <div class="wavecard-body" style="margin-top: -5%; color">@item.Category_Name</div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

