@using WebSelling.Models;
@model List<SubCategory>
<style>
    .hover:hover {
        color: #277d32;
    }

    .hover {
        color: #000000;
    }
</style>
<span style="margin-left: 1%; font-size: 30px; font-family: 'Segoe UI'!important; font-weight: bold">Xu Hướng Tìm Kiếm</span>
<div class="row container-fluid ml-3 mt-3">
    @foreach (var item in Model)
    {
        <div class="col-md-2 ml--2">
            <table>
                <tr>
                    <td><a href="#" class="hover"><i class="fa fa-dot-circle"></i> @item.SubCategory_Name</a></td>
                </tr>
            </table>
        </div>
    }
</div>
