@using WebSelling.Models;
@model List<SubCategory>
<style>
    .hover:hover{
        color: #277d32;
    }
    .hover{
        color: #000000;
    }
</style>
<div class="container-fluid" style="margin-top: -3%">
    <div class="row" style="margin-left: -12%">
        @foreach (var item in Model)
        {
            <div class="col-md-2">
                <table>
                    <tr>
                        <td><a href="#" class="hover"><i class="fa fa-dot-circle"></i> @item.SubCategory_Name</a></td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
