<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Startup a Corporate Category Bootstrap Responsive Website Template | Home :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Startup Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/Content/Category/css/category.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap.css">
    <link href="~/Content/UI/assets/css/argon-design-system.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/UI/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Content/UI/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/Content/Layout/css/Style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="~/Content/Layout/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
          rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- main banner -->
    <div class="main-top" id="home">
        <!-- header -->
        <!-- //header -->
        @RenderBody()
        <!-- banner -->
    </div>
    <!-- //copyright bottom -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $('.modal-backdrop').remove();
        })
    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>