@using WebSelling.Models;
@{
    WebSellingEntities db = new WebSellingEntities();
}
@{
    List<Product> pr = db.Products.Where(n => n.Product_Activate == true).OrderByDescending(n => n.Product_DateCreate).ToList();
}
var content = [
@foreach (var item in pr)
{
    @: { title: '<a href="@Url.Action("DetailsProduct", "Home", new { id = item.Product_ID})" style="color: black"><input type="hidden" value="@item.Category.Category_Name" /><img class="ui middle aligned tiny image rounded mt-2 mb-2 ml-2" src="/Content/Image/@item.Product_Img" style="width: 100px; height: 60px"><span class="ml-3">@item.Product_Name</span></a>' },
}
];
