USE [master]
GO
/****** Object:  Database [WebSelling]    Script Date: 12/08/2020 01:27:21 PM ******/
CREATE DATABASE [WebSelling]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebSelling', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\WebSelling.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebSelling_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\WebSelling_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebSelling].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebSelling]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[Admin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Admin_Pass] [nvarchar](100) NULL,
	[Admin_Pass2] [nvarchar](100) NULL,
	[Admin_Email] [nvarchar](200) NULL,
	[Admin_Role] [int] NULL,
	[Admin_Token] [varchar](200) NULL,
	[Admin_Activate] [bit] NULL,
	[Admin_DateCreate] [datetime] NULL,
	[Admin_DateLogin] [datetime] NULL,
	[Admin_Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Cart_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cart_TotalPament] [money] NULL,
	[Cart_Activate] [bit] NULL,
	[Cart_TotalProduct] [int] NULL,
	[User_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[Cart_DateCreate] [datetime] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Cart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](100) NULL,
	[Category_Img] [nvarchar](2000) NULL,
	[Category_DateCreate] [datetime] NULL,
	[Category_DateEdit] [datetime] NULL,
	[Category_Activate] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[City]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[City_ID] [int] IDENTITY(1,1) NOT NULL,
	[City_Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[City_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Comment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Comment_DateCreate] [datetime] NULL,
	[Comment_Content] [nvarchar](max) NULL,
	[Comment_Spam] [bit] NULL,
	[User_ID] [int] NULL,
	[Product_ID] [int] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Comment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DetailsInvoices]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailsInvoices](
	[DetailsInvoices_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NULL,
	[Invoices_ID] [int] NULL,
 CONSTRAINT [PK_DetailsInvoices] PRIMARY KEY CLUSTERED 
(
	[DetailsInvoices_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoices](
	[Invoices_ID] [int] IDENTITY(1,1) NOT NULL,
	[Invoices_Buyer] [nvarchar](300) NULL,
	[Invoices_Seller] [nvarchar](300) NULL,
	[Invoices_Address] [nvarchar](500) NULL,
	[Invoices_Phone] [varchar](12) NULL,
	[User_ID] [int] NULL,
	[Invoices_TotalPay] [int] NULL,
	[Invoices_DateCreate] [datetime] NULL,
	[Invoices_Note] [nvarchar](max) NULL,
	[StatusBill_ID] [int] NULL,
	[Invoices_EmailSeller] [nvarchar](100) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Invoices_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [nvarchar](100) NULL,
	[Product_Img] [nvarchar](2000) NULL,
	[Product_DateSubmit] [datetime] NULL,
	[Product_Activate] [bit] NULL,
	[Product_Price] [money] NULL,
	[Product_SalePrice] [money] NULL,
	[Product_Ship] [bit] NULL,
	[Product_View] [int] NULL,
	[Product_Love] [int] NULL,
	[Product_Amount] [int] NULL,
	[Product_Description] [nvarchar](max) NULL,
	[Product_Detail] [nvarchar](max) NULL,
	[Product_Option] [bit] NULL,
	[Product_DateCreate] [datetime] NULL,
	[Product_DateEdit] [datetime] NULL,
	[User_ID] [int] NULL,
	[SubCategory_ID] [int] NULL,
	[Category_ID] [int] NULL,
	[SubProduct_ID] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[Province_ID] [int] IDENTITY(1,1) NOT NULL,
	[Province_Name] [nvarchar](200) NULL,
	[City_ID] [int] NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[Province_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RepLi]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepLi](
	[Repli_ID] [int] IDENTITY(1,1) NOT NULL,
	[Repli_DateCreate] [datetime] NULL,
	[Repli_Content] [nvarchar](max) NULL,
	[Comment_ID] [int] NULL,
	[User_ID] [int] NULL,
 CONSTRAINT [PK_RepLi] PRIMARY KEY CLUSTERED 
(
	[Repli_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StatusBill]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusBill](
	[StatusBill_ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusBill_Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_StatusBill] PRIMARY KEY CLUSTERED 
(
	[StatusBill_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SubCategory_ID] [int] IDENTITY(1,1) NOT NULL,
	[SubCategory_Name] [nvarchar](100) NULL,
	[SubCategory_Img] [nvarchar](2000) NULL,
	[SubCategory_DateCreate] [datetime] NULL,
	[SubCategory_DateEdit] [datetime] NULL,
	[SubCategory_Activate] [bit] NULL,
	[Category_ID] [int] NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubProduct]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubProduct](
	[SubProduct_ID] [int] IDENTITY(1,1) NOT NULL,
	[SubCategory_ID] [int] NULL,
	[SubProduct_Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_SubProduct] PRIMARY KEY CLUSTERED 
(
	[SubProduct_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_LastName] [nvarchar](50) NULL,
	[User_Name] [nvarchar](50) NULL,
	[User_Token] [varchar](200) NULL,
	[User_Activate] [bit] NULL,
	[User_Pass] [nvarchar](60) NULL,
	[User_Email] [nvarchar](100) NULL,
	[User_Phone] [varchar](12) NULL,
	[User_Role] [int] NULL,
	[User_LinkF] [nvarchar](2000) NULL,
	[User_Img] [nvarchar](2000) NULL,
	[User_DateCreate] [datetime] NULL,
	[User_DateLogin] [datetime] NULL,
	[User_DateBirth] [date] NULL,
	[User_Sex] [int] NULL,
	[User_Address] [nvarchar](300) NULL,
	[Province_ID] [int] NULL,
	[City_ID] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Views]    Script Date: 12/08/2020 01:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Views](
	[View_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NULL,
	[User_ID] [int] NULL,
	[View_Date] [datetime] NULL,
	[View_Bin] [bit] NULL,
 CONSTRAINT [PK_Views] PRIMARY KEY CLUSTERED 
(
	[View_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Admin_ID], [Admin_Pass], [Admin_Pass2], [Admin_Email], [Admin_Role], [Admin_Token], [Admin_Activate], [Admin_DateCreate], [Admin_DateLogin], [Admin_Name]) VALUES (1, N'AdminSelling1!!', N'Phuongvy99**', N'admin@gmail.com', 1, N'd3876f1d-6709-4d3f-a530-132d17b38e36', 1, CAST(N'2020-10-20 16:15:06.083' AS DateTime), CAST(N'2020-12-08 12:56:11.207' AS DateTime), N'Nguyễn Trần Phương Vy')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Category_ID], [Category_Name], [Category_Img], [Category_DateCreate], [Category_DateEdit], [Category_Activate]) VALUES (1, N'Xe Cộ', N'download.jpg', CAST(N'2020-10-12 00:00:00.000' AS DateTime), CAST(N'2020-10-30 09:39:46.043' AS DateTime), 1)
INSERT [dbo].[Category] ([Category_ID], [Category_Name], [Category_Img], [Category_DateCreate], [Category_DateEdit], [Category_Activate]) VALUES (2, N'Đồ Điện Tử', N'vi_smartphone-large-2013121017506.jpg', CAST(N'2020-10-12 00:00:00.000' AS DateTime), CAST(N'2020-11-23 10:58:07.787' AS DateTime), 1)
INSERT [dbo].[Category] ([Category_ID], [Category_Name], [Category_Img], [Category_DateCreate], [Category_DateEdit], [Category_Activate]) VALUES (3, N'Thú Cưng', N'lam-the-nao-thu-cung-co-the-cai-thien-suc-khoe-cua-ban2.jpg', CAST(N'2020-10-12 00:00:00.000' AS DateTime), CAST(N'2020-11-23 14:57:04.250' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([City_ID], [City_Name]) VALUES (1, N'Cần Thơ')
INSERT [dbo].[City] ([City_ID], [City_Name]) VALUES (2, N'TP.Hồ Chí Minh')
INSERT [dbo].[City] ([City_ID], [City_Name]) VALUES (3, N'Bình Dương')
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Comment_ID], [Comment_DateCreate], [Comment_Content], [Comment_Spam], [User_ID], [Product_ID]) VALUES (1, CAST(N'2020-11-18 00:00:00.000' AS DateTime), N'Cmm1', NULL, 3, 14)
INSERT [dbo].[Comment] ([Comment_ID], [Comment_DateCreate], [Comment_Content], [Comment_Spam], [User_ID], [Product_ID]) VALUES (2, CAST(N'2020-11-18 00:00:00.000' AS DateTime), N'Hello', NULL, 7, 14)
INSERT [dbo].[Comment] ([Comment_ID], [Comment_DateCreate], [Comment_Content], [Comment_Spam], [User_ID], [Product_ID]) VALUES (3, CAST(N'2020-11-18 00:00:00.000' AS DateTime), N'Hello', NULL, 3, 14)
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[DetailsInvoices] ON 

INSERT [dbo].[DetailsInvoices] ([DetailsInvoices_ID], [Product_ID], [Invoices_ID]) VALUES (6, 6, 14)
INSERT [dbo].[DetailsInvoices] ([DetailsInvoices_ID], [Product_ID], [Invoices_ID]) VALUES (7, 2, 15)
SET IDENTITY_INSERT [dbo].[DetailsInvoices] OFF
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Invoices_ID], [Invoices_Buyer], [Invoices_Seller], [Invoices_Address], [Invoices_Phone], [User_ID], [Invoices_TotalPay], [Invoices_DateCreate], [Invoices_Note], [StatusBill_ID], [Invoices_EmailSeller]) VALUES (14, N'Nguyễn Trần  Phương Vy', N'Nguyễn Vy', N'Số 14, Đường số 9, Hiệp Thành TP. Thủ Dầu Một Bình Dương', N'0364338950', 3, 650000000, CAST(N'2020-12-08 11:59:42.370' AS DateTime), NULL, 5, N'vy@gmail.com')
INSERT [dbo].[Invoices] ([Invoices_ID], [Invoices_Buyer], [Invoices_Seller], [Invoices_Address], [Invoices_Phone], [User_ID], [Invoices_TotalPay], [Invoices_DateCreate], [Invoices_Note], [StatusBill_ID], [Invoices_EmailSeller]) VALUES (15, N'Nguyễn Vy', N'Nguyễn Trần  Phương Vy', N'Số 14, Đường số 9 Quận 1 Cần Thơ', N'0364338950', 7, 8000000, CAST(N'2020-12-08 12:00:43.163' AS DateTime), NULL, 7, N'phuongvy99@gmail.com')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([Province_ID], [Province_Name], [City_ID]) VALUES (1, N'Quận 1', 2)
INSERT [dbo].[Province] ([Province_ID], [Province_Name], [City_ID]) VALUES (2, N'Quận 2', 2)
INSERT [dbo].[Province] ([Province_ID], [Province_Name], [City_ID]) VALUES (3, N'Quận 3', 2)
SET IDENTITY_INSERT [dbo].[Province] OFF
SET IDENTITY_INSERT [dbo].[RepLi] ON 

INSERT [dbo].[RepLi] ([Repli_ID], [Repli_DateCreate], [Repli_Content], [Comment_ID], [User_ID]) VALUES (1, CAST(N'2020-11-18 00:00:00.000' AS DateTime), N'alo', 1, 7)
INSERT [dbo].[RepLi] ([Repli_ID], [Repli_DateCreate], [Repli_Content], [Comment_ID], [User_ID]) VALUES (2, CAST(N'2020-11-18 00:00:00.000' AS DateTime), N'alo', 1, 3)
INSERT [dbo].[RepLi] ([Repli_ID], [Repli_DateCreate], [Repli_Content], [Comment_ID], [User_ID]) VALUES (3, CAST(N'2020-11-18 00:00:00.000' AS DateTime), N'alo', 1, 7)
SET IDENTITY_INSERT [dbo].[RepLi] OFF
SET IDENTITY_INSERT [dbo].[StatusBill] ON 

INSERT [dbo].[StatusBill] ([StatusBill_ID], [StatusBill_Name]) VALUES (1, N'Chưa Duyệt')
INSERT [dbo].[StatusBill] ([StatusBill_ID], [StatusBill_Name]) VALUES (2, N'Đã Xem')
INSERT [dbo].[StatusBill] ([StatusBill_ID], [StatusBill_Name]) VALUES (3, N'Đã Duyệt')
SET IDENTITY_INSERT [dbo].[StatusBill] OFF
SET IDENTITY_INSERT [dbo].[SubCategory] ON 

INSERT [dbo].[SubCategory] ([SubCategory_ID], [SubCategory_Name], [SubCategory_Img], [SubCategory_DateCreate], [SubCategory_DateEdit], [SubCategory_Activate], [Category_ID]) VALUES (1, N'Máy Tính Bảng', N'184980.jpg', CAST(N'2020-10-24 00:00:00.000' AS DateTime), CAST(N'2020-10-30 08:59:10.093' AS DateTime), 1, 2)
INSERT [dbo].[SubCategory] ([SubCategory_ID], [SubCategory_Name], [SubCategory_Img], [SubCategory_DateCreate], [SubCategory_DateEdit], [SubCategory_Activate], [Category_ID]) VALUES (2, N'Mèo', N'meo.jpg', CAST(N'2020-10-24 00:00:00.000' AS DateTime), CAST(N'2020-10-30 09:11:45.377' AS DateTime), 1, 3)
INSERT [dbo].[SubCategory] ([SubCategory_ID], [SubCategory_Name], [SubCategory_Img], [SubCategory_DateCreate], [SubCategory_DateEdit], [SubCategory_Activate], [Category_ID]) VALUES (3, N'Gà', N'gà.png', CAST(N'2020-10-24 00:00:00.000' AS DateTime), CAST(N'2020-10-30 09:13:28.330' AS DateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[SubCategory] OFF
SET IDENTITY_INSERT [dbo].[SubProduct] ON 

INSERT [dbo].[SubProduct] ([SubProduct_ID], [SubCategory_ID], [SubProduct_Name]) VALUES (1, 1, N'Lenovo')
INSERT [dbo].[SubProduct] ([SubProduct_ID], [SubCategory_ID], [SubProduct_Name]) VALUES (2, 8, N'SamSung')
INSERT [dbo].[SubProduct] ([SubProduct_ID], [SubCategory_ID], [SubProduct_Name]) VALUES (3, 6, N'Toyota')
SET IDENTITY_INSERT [dbo].[SubProduct] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Views] ON 

INSERT [dbo].[Views] ([View_ID], [Product_ID], [User_ID], [View_Date], [View_Bin]) VALUES (9, 14, 3, CAST(N'2020-11-10 10:57:10.277' AS DateTime), 1)
INSERT [dbo].[Views] ([View_ID], [Product_ID], [User_ID], [View_Date], [View_Bin]) VALUES (13, 6, 3, CAST(N'2020-11-26 12:54:26.407' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Views] OFF
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Product]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[DetailsInvoices]  WITH CHECK ADD  CONSTRAINT [FK_DetailsInvoices_Invoices] FOREIGN KEY([Invoices_ID])
REFERENCES [dbo].[Invoices] ([Invoices_ID])
GO
ALTER TABLE [dbo].[DetailsInvoices] CHECK CONSTRAINT [FK_DetailsInvoices_Invoices]
GO
ALTER TABLE [dbo].[DetailsInvoices]  WITH CHECK ADD  CONSTRAINT [FK_DetailsInvoices_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[DetailsInvoices] CHECK CONSTRAINT [FK_DetailsInvoices_Product]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_StatusBill] FOREIGN KEY([StatusBill_ID])
REFERENCES [dbo].[StatusBill] ([StatusBill_ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_StatusBill]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([Category_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_SubCategory] FOREIGN KEY([SubCategory_ID])
REFERENCES [dbo].[SubCategory] ([SubCategory_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_SubCategory]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_SubProduct] FOREIGN KEY([SubProduct_ID])
REFERENCES [dbo].[SubProduct] ([SubProduct_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_SubProduct]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_User]
GO
ALTER TABLE [dbo].[Province]  WITH CHECK ADD  CONSTRAINT [FK_Province_City] FOREIGN KEY([City_ID])
REFERENCES [dbo].[City] ([City_ID])
GO
ALTER TABLE [dbo].[Province] CHECK CONSTRAINT [FK_Province_City]
GO
ALTER TABLE [dbo].[RepLi]  WITH CHECK ADD  CONSTRAINT [FK_RepLi_Comment] FOREIGN KEY([Comment_ID])
REFERENCES [dbo].[Comment] ([Comment_ID])
GO
ALTER TABLE [dbo].[RepLi] CHECK CONSTRAINT [FK_RepLi_Comment]
GO
ALTER TABLE [dbo].[RepLi]  WITH CHECK ADD  CONSTRAINT [FK_RepLi_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[RepLi] CHECK CONSTRAINT [FK_RepLi_User]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([Category_ID])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_SubCategory_Category]
GO
ALTER TABLE [dbo].[SubProduct]  WITH CHECK ADD  CONSTRAINT [FK_SubProduct_SubCategory] FOREIGN KEY([SubCategory_ID])
REFERENCES [dbo].[SubCategory] ([SubCategory_ID])
GO
ALTER TABLE [dbo].[SubProduct] CHECK CONSTRAINT [FK_SubProduct_SubCategory]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_City] FOREIGN KEY([City_ID])
REFERENCES [dbo].[City] ([City_ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_City]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Province] FOREIGN KEY([Province_ID])
REFERENCES [dbo].[Province] ([Province_ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Province]
GO
ALTER TABLE [dbo].[Views]  WITH CHECK ADD  CONSTRAINT [FK_Views_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Views] CHECK CONSTRAINT [FK_Views_Product]
GO
ALTER TABLE [dbo].[Views]  WITH CHECK ADD  CONSTRAINT [FK_Views_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Views] CHECK CONSTRAINT [FK_Views_User]
GO
USE [master]
GO
